.hero{
    background: url(../images/img_hero.jpg) center center no-repeat;;
    background-size: cover;
    padding: 150px 0px;
    position: relative;
} 
.hero:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color:rgba(0,0,0,0.6);
} 
.hero-inner {
    position: absolute;
    left: 50%;
    top: 50%;
} 
.hero-logo{
    width: 60%;
    text-align: center;
    transform: translate(-50%,-50%);
}
.hero-background{
    background-color: #000000;
}
.skew {
  animation: skew 3s infinite;
}
@keyframes skew {
  0% {
    transform: none;
  }
  33% {
    transform: none;
  }
  33.3% {
    transform: skewX(30deg);
  }
  33.6% {
    transform: skewX(-30deg);
  }
  33.9% {
    transform: none;
  }
  66% {
    transform: none;
  }
  66.3% {
    transform: skewX(5deg);
  }
  66.6% {
    transform: skewX(-5deg);
  }
  66.9% {
    transform: none;
  }
  77% {
    transform: none;
  }
  77.3% {
    transform: skewX(15deg);
  }
  77.6% {
    transform: skewX(-15deg);
  }
  77.9% {
    transform: none;
  }
}